/* resets */
* {
    margin: 0;
    padding: 0;
}

/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@400;700&family=Ubuntu:wght@300;400;700&display=swap');

/* body & basic display */
body {
    background: var(--black);
    color: var(--white);
    font-family: consolas;
    font-size: 2rem;
    padding: 2vh 0 0 0;
}

.display-none {
    display: none;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.column {
    flex-direction: column;
}

::selection {
    background-color: var(--red);
}

.button-main {
    text-decoration: none;
    border: none;
    color: var(--black);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 16px;
    padding: 12px 32px 2px 32px;
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
    text-align: center;
    text-shadow: 0 0 2px var(--navbar-silver);
    background: linear-gradient(var(--navbar-grey), var(--navbar-silver));
    transition: all .25s ease-in-out;
}

.button-main:hover {
    box-shadow: 0 0 4px 4px var(--navbar-silver);
}

/* Library */
.container-library {
    position: absolute;
    top: 64px;
    margin-top: 32px;
    width: 70vw;
    min-height: 100vh;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    z-index: 1;
}

.display-cards {
    flex-wrap: wrap;
}

.background-blur {
    position: fixed;
    top: 0px;
    backdrop-filter: blur(10px);
    width: 70vw;
    height: 100vh;
    z-index: 2;
}

.card-display-top {
    width: 100%;
    justify-content: flex-end;
}

.span-close {
    user-select: none;
    cursor: pointer;
}

.text-cards-quantity {
    width: 100%;
    margin: 32px 0 8px 0;
    text-align: center;
}

/* Loading cards alert */
.container-loading-cards {
    margin: 30vh 0 0 0;
    width: 100%;
    min-height: 128px;
}

.container-loading-cards>p {
    margin: 22px 0 0 0;
}

.icon-loading {
    width: 128px;
    height: 128px;
    animation: animation-loading-icon 5s linear infinite;
    border-radius: 50%;
    box-shadow: 0 0 8px 8px var(--navbar-silver);
}

@keyframes animation-loading-icon {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

/* Library filters */
.wrapper-buttons-display-filters {
    width: 100%;
}

.button-display-filters {
    width: 512px;
}

.container-filters {
    width: 100%;
    min-height: 256px;
    background: var(--black);
    border-radius: 8px;
    padding: 16px 0;
    box-shadow: 0 0 8px 4px var(--navbar-silver);
}

.row-filter,
.column-filter {
    background: linear-gradient(var(--navbar-grey), var(--navbar-silver));
    padding: 0 8px;
}

.select-row-filter {
    padding: 0 8px;
    min-width: 500px;
    height: 64px;
    margin: 8px;
    justify-content: flex-start;
}

.row-filter {
    min-width: 500px;
    height: 64px;
    margin: 8px;
}

.column-filter {
    min-width: 300px;
    min-height: 300px;
    margin: 8px;
    padding: 8px 0;
}

.column-filter>div {
    width: 90%;
    justify-content: flex-start;
    margin: 4px 0;
}

.column-filter>div>label {
    color: var(--black);
    cursor: pointer;
}

.category-filter {
    align-items: flex-start;
}

.filter-control {
    width: 44px;
    height: 44px;
    cursor: pointer;
    margin: 0 4px;
    user-select: none;
    background: var(--black);
    transition: all .2s ease-in-out;
}

.filter-control:hover {
    box-shadow: 0 0 4px 4px var(--navbar-silver);
}

.filter-control>p {
    font-size: 1.5rem;
}

/* Filter form inputs */
.checkbox-resource-cost {
    user-select: none;
    appearance: none;
    --webkit-appearance: none;
    font: inherit;
    color: var(--black);
    width: 44px;
    height: 44px;
    border: 0.15em solid var(--black);
    display: grid;
    place-content: center;
    cursor: pointer;
    margin: 0 4px;
}

.checkbox-resource-cost::before {
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    color: var(--black);
    transition: 120ms all ease-in-out;
}

.checkbox-resource-cost:checked::before {
    color: var(--white);
    box-shadow: inset 1em 1em var(--black);
}

.checkbox-value0::before {
    content: "0";
}

.checkbox-value1::before {
    content: "1";
}

.checkbox-value2::before {
    content: "2";
}

.checkbox-value3::before {
    content: "3";
}

.checkbox-value4::before {
    content: "4";
}

.checkbox-value5::before {
    content: "5";
}

.checkbox-value6::before {
    content: "6";
}

.checkbox-value7::before {
    content: "7";
}

.checkbox-value8::before {
    content: "8";
}

.checkbox-value9::before {
    content: "9+";
}

.checkbox-value10::before {
    content: "10+";
}

.select-input {
    border: none;
    width: 256px;
    height: 100%;
    font: inherit;
    cursor: pointer;
    color: var(--navbar-silver);
    background: var(--black);
    border: 0.15em solid var(--navbar-silver);
}

/* Purity inputs */
.container-purity {
    height: 100%;
    cursor: pointer;
    margin: 0 3px;
    padding: 0 2px;
}

.purity-filter-icon {
    width: 52px;
    height: 52px;
}

.purity-selected {
    background: linear-gradient(var(--red), var(--pink));
}

.purity-selected>p {
    user-select: none;
    text-shadow: 2px 2px 2px var(--black),
        -2px -2px 2px var(--black),
        2px -2px 2px var(--black),
        -2px 2px 2px var(--black);
}

.container-purity>p {
    position: absolute;
}

/* Card search */
.container-search {
    width: 100%;
    margin: 32px 0 22px 0;
    padding: 16px 0 0 0;
    border-top: 1px solid var(--navbar-silver);
}

.container-search > p {
    margin: 0 0 8px 0;
}

.input-text {
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    padding: 4px;
    height: 100%;
    color: var(--navbar-silver);
    background: var(--black);
    border: 0.15em solid var(--navbar-silver);
}

/* RWD */
@media only screen and (max-width: 520px) {
    .container-library {
        width: 100vw;
        position: relative;
        margin-top: 0;
    }

    .container-navbar {
        justify-content: space-between;
        flex-direction: column;
    }

    .container-navbar > a {
        width: 164px;
        margin: 6px 0;
    }

    .image-card {
        max-width: 90vw;
    }

    .button-display-filters {
        width: 90vw;
    }

    .container-filters > form > div {
        flex-direction: column;
    }

    .input-text {
        width: 90vw;
    }

    .row-filter {
        height: 128px;
        flex-wrap: wrap;
        width: 300px;
        min-width: 300px;
    }

    .container-purity {
        height: 50%;
    }

    .select-row-filter {
        min-width: 300px;
    }

    .background-blur {
        width: 100vw;
    }
}

